<h1>Listing ideas</h1>

<div class="row">
  <% @ideas.each do |idea| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(idea.picture_url, class: "img-responsive"), idea if idea.picture.present?%>
        <h4><%= link_to idea.name, idea %></h4>
        <%= idea.description %>
      </div>
    </div>
  <% end %>
</div>

